@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .b .card {
  overflow: hidden;
  transition: transform .3s;
}
.card-img-top {
  height: 50%;
}
img {
  width: 100%;
  object-fit: cover;
  object-position: center;
} */
.b .card:hover {
  transform: scale(1.1);
}

section {
  /* height: 50vh; */
  padding: 40px 20px;
  background-color: orange;
}
html {
  scroll-behavior: smooth;
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
}
.active {
  background-color: red;
}
/* button:focus {
  border: 10px solid #000;
} */
.tool {
  opacity: 0;
  z-index: 2;
  top: 0;
  color: #fff;
  position: absolute;
  left: 50%;
  width: 140px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.74);
  transform: translate(-50%, calc(-100% - 10px));
  animation: op .3s ease-in-out both;
}
@keyframes op {
  to {
    opacity: 1;
  }
}
.por {
  z-index: 1;
  position: relative;
  display: inline-block;
}
.btm {
  top: auto;
  bottom: 0;
  height: max-content;
  transform: translate(-50%, calc(100% + 10px));
}
.e {
  background-color: green!important;
}
.gallery {
  overflow: hidden;
  display: flex;
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.gallery__slide {
  flex-shrink: 0;
  height: 100%;
}
.gallery__slide img {
  width: 100%;
  height: inherit;
}
.b {
  width: 200px;
  background-color: red;
}
.fd {
  display: inline-flex;
}
h1 {
  font-size: 10vw;
  font-family: fantasy;
}